<!--navigation-->
<div class="row ">
  <nav class="navbar navbar-light bg-primary px-3">
    <!-- Navbar content -->
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo-top.png" width="100" class="d-inline-block align-top" alt="kalvad-logo">
    </a>
    <a  routerLink='/book-form' class="btn btn-success my-2 my-sm-0" > Add List</a>
    <button class="btn btn-light my-2 my-sm-0" type="button">Edit List</button>
    <button class="btn btn-secondary my-2 my-sm-0" type="button">Sort List</button>
  </nav>
</div>
